/* styles.css */



body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin-bottom: 60px; /* Adjusted margin for the footer */
}

header {
    background-color: #1877f2;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

navvvvv {
    background-color: #08254ce2;
}

navvvvv a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navvvvvbar-toggler-icon {
    color: white;
}

section {
    padding: 40px;
}

h2 {
    color: #191d34;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
}

h4 {
    color: #191d34;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    display: inline-block;
}

footer {
    background-color: #08254ce2;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.services-area {
    background-image: url('path/to/C:\Users\Nikita\Desktop\mayur\ScorVigoTechPvtLtd\bg-pattern (1).png/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

.services-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #1877f2;
    margin-bottom: 20px;
}

.services-caption {
    text-align: center;
}

.icon {
    font-size: 60px;
    margin-bottom: 20px;
    color: #1877f2;
}

.button-contactForm,
.header-btn {
    background: #fbfcfd;
    color: #ae0d0d !important;
    display: inline-block;
    padding: 10px 18px; /* Adjusted padding for a smaller button */
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #ffffff;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 28px;
    transition: background-color 0.3s, color 0.3s;
}

.button-contactForm:hover,
.header-btn:hover {
    background: #ff656a !important;
    color: #ffffff !important;
}

.single-services {
    background: #fff;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
    transition: transform 0.3s;
}

.single-services:hover {
    transform: scale(1.05);
}

.request-back-area {
    background-color: #f8f9fa;
    padding: 60px 0;
}

.request-content {
    margin-bottom: 30px;
}

.form-wrapper {
    margin-top: 20px;
}

.embed-responsive {
    border-radius: 24px;
}

@media (max-width: 767px) {
    h2 {
        font-size: 40px;
    }

    h4 {
        font-size: 20px;
    }
}


